<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="green120@126.com">
    <title>在线下单</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/bootstrap/css/sticky-footer-navbar.css">
    <style>
        .json-result {
            width: 400px;
            height: 60px;
            display: block;
            position: absolute;
            top: 10px;
            left: 50%;
            margin-left: -200px;
            margin-top: -30px;
        }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/bootstrap/assets/js/html5shiv.js"></script>
    <script src="/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body style="padding-top: 70px;">
<div id="wrap" class="page-container">
### 顶部导航模板
    #parse("nav-bar.vm")

### 面包屑导航模板
    #parse("breadcrumb-nav.vm")

    <!-- Bootstrap core JavaScript -->
    <script src="/bootstrap/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
### Main模板
    #parse("${mainViewName}.vm")
</div>
<!-- /container -->

### 底部模板
    #include("footer.vm")
</body>
</html>