<link rel="stylesheet" href="/bootstrap/plugins/select/css/bootstrap-select.min.css">
<div class="container">
    <h3>寄 件</h3>
    <div class="well" id="orderForm">
        <h4>寄件人信息</h4>
        <hr/>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="sendName" class="col-md-1 control-label">姓 名</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="sendName" name="sender.name" placeholder="寄件人姓名">
                </div>
            </div>
            <div class="form-group">
                <label for="sendPhone" class="col-md-1 control-label">手机/固话</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="sendPhone" name="sender.phone" placeholder="寄件人手机号码或者固话">
                </div>
            </div>
            <div class="form-group">
                <label for="sendAddr" class="col-md-1 control-label">上门地址</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="sendAddr" name="sender.addr" placeholder="上门收件地址">
                </div>
            </div>
            <h4>收件人信息</h4>
            <hr/>
            <div class="form-group">
                <label for="recvName" class="col-md-1 control-label">姓 名</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="recvName" name="recver.name" placeholder="收件人姓名">
                </div>
            </div>
            <div class="form-group">
                <label for="recvPhone" class="col-md-1 control-label">手机/固话</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="recvPhone" name="recver.phone" placeholder="收件人手机号码或者固话">
                </div>
            </div>
            <div class="form-group">
                <label for="recvAddr" class="col-md-1 control-label">收货地址</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="recvAddr" name="recver.addr" placeholder="收件人地址">
                </div>
            </div>
            <h4>物品信息</h4>
            <hr/>
            <div class="form-group">
                <label for="weight" class="col-md-1 control-label">重 量</label>
                <div class="col-md-2">
                    <select class="selectpicker" id="weight" name="goods.weight" data-width="100%">
                        <option value="1" selected> 1公斤以下 </option>
                        <option value="2"> 1-5公斤</option>
                        <option value="3"> 5公斤以上 </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-md-10">
                    <div class="checkbox">
                        <label>
                            <input name="goods.sign" value="1" type="checkbox"> 我的货物不重，但是体积很大
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-1 col-md-10">
                    <button class="btn btn-success" id="saveOrder">确认下单</button>

                </div>
            </div>
        </form>
    </div>
</div>
<script src="/bootstrap/plugins/select/js/bootstrap-select.min.js"></script>
<script src="/js/plugins/jquery.form.min.js"></script>
<script src="/js/order.js"></script>
<script>
    $('select').selectpicker();
</script>